<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTTP Live Streaming</title>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
  </head>
  <body>
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
    <marquee>このページのUIを担当してくれるデザイナー募集中</marquee>
    <div>
      <button onclick="location.href='./logout'">
        Logout
      </button>
      <a href="photo-viewer">画像版</a>
    </div>
    <video controls id="video"></video>

    <script>
      var video = document.getElementById("video");
      fetch("auth", { credentials: "include" })
        .then(response => {
          if (response.status === 403) {
            throw new Error("指定のOrganizationにに属していません");
          }
          if (!response.ok) {
            location.href = "login";
          }
          return response.json();
        })
        .then(res => {
          if (Hls.isSupported()) {
            var hls = new Hls();
            hls.loadSource(res.hlsAddress);
            hls.attachMedia(video);
            hls.on(Hls.Events.MANIFEST_PARSED, function() {
              video.play();
            });
          } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
            video.src = res.hlsAddress;
            video.addEventListener("loadedmetadata", function() {
              video.play();
            });
          }
        });
    </script>
  </body>
</html>
