<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTML 5 complete</title>
  </head>
  <body>
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
    <marquee>このページのUIを担当してくれるデザイナー募集中</marquee>
    <div>
      <button onclick="document.getElementById('videoElement').play()">
        再生できないときはここおして
      </button>
    </div>
    <video id="videoElement"></video>
    <script>
      if (flvjs.isSupported()) {
        const videoElement = document.getElementById("videoElement");
        fetch("auth")
          .then(response => {
            if (response.status === 403) {
              throw new Error("指定のOrganizationにに属していません");
            }
            if (!response.ok) {
              location.href = "login";
            }
            return response.json();
          })
          .then(res => {
            const flvPlayer = flvjs.createPlayer({
              type: "flv",
              isLive: false,
              url: `${res.address}?sign=${res.hashValue}`
            });
            flvPlayer.attachMediaElement(videoElement);
            flvPlayer.load();
            setTimeout(() => flvPlayer.play(), 5000);
          })
          .catch(e => {
            console.error(e);
          });
      } else {
        alert("iosはダメです");
      }
    </script>
  </body>
</html>
