<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>HTML 5 complete</title>
  </head>
  <body>
    <script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
    <marquee>このページのUIを担当してくれるデザイナー募集中</marquee>
    <div>
      <button id="reload">
        動画が固まったままのときはこのボタンを押してください
      </button>
      <button onclick="location.href='./logout'">
        Logout
      </button>
    </div>
    <video id="videoElement"></video>
    <script>
      const button = document.getElementById("reload");
      const videoElement = document.getElementById("videoElement");

      button.addEventListener("click", () => {
        if (videoElement.poster) {
          videoElement.poster = `photo?${new Date().getTime()}`;
          return;
        }
        videoElement.play();
      });

      fetch("auth")
        .then(response => {
          if (response.status === 403) {
            throw new Error("指定のOrganizationにに属していません");
          }
          if (!response.ok) {
            location.href = "login";
          }
          return response.json();
        })
        .then(res => {
          if (
            !flvjs.isSupported() ||
            new URL(window.location.href).searchParams.get("photo") === "force"
          ) {
            videoElement.poster = `photo?${new Date().getTime()}`;
            return;
          }
          const flvPlayer = flvjs.createPlayer({
            type: "flv",
            isLive: true,
            url: `${res.address}?sign=${res.hashValue}`
          });
          flvPlayer.attachMediaElement(videoElement);
          flvPlayer.load();
          flvPlayer.play();
        })
        .catch(e => {
          console.error(e);
        });
    </script>
  </body>
</html>
