<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Photo</title>
  </head>
  <body>
    <marquee>このページのUIを担当してくれるデザイナー募集中</marquee>
    <div>
      <button onclick="location.href='./logout'">
        Logout
      </button>
      <a href="viewer">動画版</a> 
    </div>
    <img id="image"></video>

    <script>
      var image = document.getElementById("image");
      fetch("auth", {credentials: "include"})
        .then(response => {
          if (response.status === 403) {
            throw new Error("指定のOrganizationにに属していません");
          }
          if (!response.ok) {
            location.href = "login";
          }
          return response.json();
        })
        .then(res => {
          image.src = res.photoAddress;
        });
    </script>
  </body>
</html>
