[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "~=3.7.8"
mypy = "~=0.720"
autopep8 = "~=1.4.4"
isort = "~=4.3.21"
watchdog = "~=0.9.0"
ptvsd = "~=4.3.2"

[packages]
# Required by /opt/intel/openvino/deployment_tools/tools/model_downloader
pyyaml = "~=5.1.2"
requests = "~=2.22.0"

# Required by /opt/intel/openvino/deployment_tools/model_optimizer
tensorflow = ">=1.2.0,<2.0.0,!=1.15.0"
networkx = ">=1.11,<2.4"
numpy = ">=1.12.0"
defusedxml = ">=0.5.0"

opencv-python = "~=4.1.1.26"
pillow = "~=6.2.0"
matplotlib = "~=3.1.1"

[requires]
python_version = "3.7"

[scripts]
start = "bash -c 'source /opt/intel/openvino/bin/setupvars.sh && python -u main.py'"
dev = "bash -c 'source /opt/intel/openvino/bin/setupvars.sh && python -u -m ptvsd --host 0.0.0.0 --port 5678 main.py'"
lint = "bash -c 'mypy . --ignore-missing-imports && flake8 --show-source --exclude .venv --max-line-length 120 .'"
format = "bash -c 'isort -rc . && autopep8 --max-line-length 120 -ivr .'"
